#searchBar {
    border: 1px solid #000000;
    border-right: none;
    font-size: 16px;
    padding: 12px;
    outline: none;
    width: 350px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -100px;
    margin: auto;
}

#searchBtn {
    border: 1px solid #000000;
    font-size: 16px;
    padding: 12px;
    background: #f1d829;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

    #searchBtn:hover {
        background: #FFA500;
    }

.search {
    text-align: center;
}

#rateBtn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    font-size: 16px;
    color: black;
    font-size: 20px;
    background: #f1d829;
    padding: 10px 33px 10px 33px;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

    #rateBtn:hover {
        background: #FFA500;
        text-decoration: none;
    }

#storeBtn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    font-size: 16px;
    color: black;
    font-size: 20px;
    background: #f1d829;
    padding: 10px 33px 10px 33px;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

    #storeBtn:hover {
        background: #FFA500;
        text-decoration: none;
    }

#suggestBtn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    font-size: 16px;
    color: black;
    font-size: 20px;
    background: #f1d829;
    padding: 10px 33px 10px 33px;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

    #suggestBtn:hover {
        background: #FFA500;
        text-decoration: none;
    }

#movieTable2 {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
    color: black;
}

    #movieTable2 td, #movieTable2 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #movieTable2 tr:nth-child(even) {
        background-color: white;
    }

table.movieTable thead {
    background-color: #FFA500;
    opacity: 0.9;
    color: white;
}

#suggestionTable2 {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 15px;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    background-color: #f2f2f2;
    color: black;
}

    #suggestionTable2 td, #suggestionTable2 th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #suggestionTable2 tr:nth-child(even) {
        background-color: white;
    }

    #suggestionTable2 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
    }

table.suggestionTable thead {
    background-color: #f20000;
    opacity: 0.9;
    color: white;
}

img {
    margin: auto;
    display: block;
    height: 250px;
}

body {
    height: 100%;
    /*width: 100%;*/
    color: #ffffff;
    /*background-image: url(../images/01.jpg);*/
    background-repeat: repeat-y;
    background-size: cover;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: black;
    text-shadow: 2px 2px 7px grey;
}

html {
    background-image: linear-gradient(hsla(0,0%,0%,.25), hsla(0,0%,0%,0));
    height: 100%;
}

.loader {
    animation: load 1s linear infinite;
    border: .5em solid #555;
    border-radius: 50%;
    display: block;
    height: 2em;
    left: 50%;
    margin: -1.5em;
    position: absolute;
    top: 50%;
    width: 2em;
}

    .loader:after {
        border: .5em solid #6cf;
        border-radius: 50%;
        bottom: .9em;
        content: '';
        left: .1em;
        position: absolute;
        right: .9em;
        top: .1em;
    }

@keyframes load {
    100% {
        transform: rotate(360deg);
    }
}
